<header>

  <div class='head-left'>
    <%= image_tag('border_flower.png', class: 'border_flower') %>
  </div>

  <div class='head-center'>
    <h1>Hannah &amp; Karl</h1>
  </div>

  <div class='head-right'>
    <%= image_tag('border_flower.png', class: 'border_flower') %>
  </div>

</header>

<%= render 'refills/centered_navigation' %>

<%= image_tag('kings_weston_house_large.jpg', class: 'hero-image') %>

