<% content_for :body_bottom do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWd4gTNZlbNPJA2qhIPONJEs_K5FUdPwc"></script>
<% end %>

<%= image_tag('kings_weston_house_large.jpg', class: 'hero-image') %>

<main class="homepage--main">
  <%= image_tag('footer.png') %>

  <section>
    <h1>Kings Weston House</h1>

    <p>We’re delighted to be having both our wedding ceremony and reception at Kings Weston House - located on the outskirts of Bristol.</p>

    <ul>
      <li>Those invited to the ceremony please arrive at 2pm</li>
      <li>The evening reception will be starting at 7.30pm (ending at 12.30)</li>
    </ul>
  </section>

  <section>
    <h2>Directions</h2>

    <ul>
      <li>
        <span class="direction--head">Car:</span>
        15 minutes by car from central Bristol, and there is plenty of parking
      </li>
      <li>
        <span class="direction--head">Taxi:</span>
        We’d recommend travelling with local firms Uber, V cars or Yellow Cabs
      </li>
      <li>
        <span class="direction--head">Bus:</span>
        The number 3 and 4 buses stop close by, taking 18 minutes from central Bristol
      </li>
    </ul>

    <div id="venue_map"></div>
    <a target="_blank" href="https://www.google.co.uk/maps/place/Kings+Weston+House/@51.4944422,-2.6614699,15z/">
      <p>Kings Weston House, Kings Weston Lane, Bristol, BS11 0UR</p>
    </a>
  </section>

</main>
