<main>
  <ul>
    <% @object.people.each do |person| %>
      <li>
        <%= person %> -
        breakfast: <%= person.attending_breakfast %>,
        reception: <%= person.attending_reception %>
      </li>
    <% end %>
  </ul>
</main>
