<main class="container--main">

<p>We'll upload photos here after the big day. These are some of our special memories together.</p>

  <div class="cards">
    <% @photos.each do |image| %>
      <div class="card">
        <div class="card-image">
          <%= image_tag(image[:asset_path], alt: image[:caption]) %>
        </div>
        <div class="card-header">
          <%= image[:caption] %>
        </div>
      </div>
    <% end %>
  </div>
</main>
