@import "neat-helpers";

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 10;
$max-width: 100%;

// Define your breakpoints
$desktop: new-breakpoint(max-width $large-screen 10);
$tablet: new-breakpoint(max-width $medium-screen 8);
$mobile: new-breakpoint(max-width $small-screen 4);
