
header {
  background-color: $gray;
  position: relative;

  h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
    z-index: 4;

    background: -webkit-linear-gradient(#e3a8ae, #785758);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }

  h2 {
    color: #d7dad8;
  }

  .head-left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    width: 183px;
    height: 248px;

    @include media($tablet) { display:none }
  }

  .head-right {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
    width: 183px;
    height: 248px;
    -moz-transform: scaleX(-1);    /* Gecko */
    -o-transform: scaleX(-1);      /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform: scaleX(-1);         /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */

    @include media($tablet) { display:none }
  }
}
