
header {
  background-color: $gray;
  position: relative;

  h1 {
    font-size: 2.8em;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 2em;
    z-index: 4;
    color: #e7b5ba;

    background: -webkit-linear-gradient(#e3a8ae, #785758);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media($tablet) {
      font-size: 2em;
      line-height: 2em;
    }
  }

  .head-left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;

    @include media($tablet) { display:none }
  }

  .head-right {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;

    -moz-transform: scaleX(-1);    /* Gecko */
    -o-transform: scaleX(-1);      /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform: scaleX(-1);         /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */

    @include media($tablet) { display:none }
  }
}
