body {
  @include outer-container;
  background-color: $gray;
}

main {
  @include span-columns(8);
  @include shift(1);
  background: rgba(255,255,255,0.80);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  padding: 10px;
}
