.hero-image {
  width: 100%
}

main.homepage--main {
  text-align: center;
  padding: 0em 2em;

  p, li {
    color: $light-gray;
  }

  section {
    padding-bottom: 1em;
  }

  li {
    margin: 0.2em;
  }
}

.direction--head {
  text-decoration: underline;
}

