<header>
  <div class='head-left'>
    <%= image_tag('border_flower.png', class: 'border_flower', width: 183, height: 248) %>
  </div>

  <div class='head-center'>
    <h1>Hannah &amp; Karl</h1>
    <h2>23rd September 2017</h2>
  </div>

  <div class='head-right'>
    <%= image_tag('border_flower.png', class: 'border_flower', width: 183, height: 248) %>
  </div>
</header>
